<%
  const dateList = {};

  for (let post of posts){
    let date = moment(new Date(post.createdAt)).format('YYYY/MM/DD');
    dateList[date] = dateList[date] || [];
    dateList[date].push(post);
  }

  const groups = [];
  for (let key of Object.keys(dateList).sort().reverse()){
    groups.push({
      date: key,
      posts: dateList[key]
    });
  }
%>

<div class="border-l-2 text-justify">
  <% for (let group of groups){ %>
    <div class="relative">
      <div class="absolute top-[-.5em] text-xs font-semibold pl-4
        before:w-3 before:h-3 before:border-2 before:block before:rounded-full before:border-black before:absolute before:left-[-.55em] before:top-0.5 before:bg-white
      "><%= group.date %></div>

      <% for (let post of group.posts){ %>
        <div class="flex px-4 py-4 ml-[-2px] border-l-2 group
          second:pt-6 last:pb-6
          hover:border-black
        ">
          <div class="flex-1">
            <a href="/<%= post.slug %>.html" class="font-bold block uppercase mb-2 text-left text-xl"><%= post.name %></a>
            <a href="/<%= post.slug %>.html" class="text-sm max-h-[7em] overflow-hidden inline-block">
              <%= post.desc %>
            </a>
          </div>
          <% if (post.image){ %>
            <div class="ml-4 hidden md:block">
              <a href="/<%= post.slug %>.html">
                <img src="<%= post.image %>" class="w-56 h-32 rounded-lg object-cover grayscale group-hover:grayscale-0" alt="<%= post.name %>">
              </a>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  <% } %>
</div>