<%
  const postModel = await model('posts');
  const categoryModel = await model('categories');

  const { data: posts } = await postModel.list({
    status: 'public',
    slug: params.slug,
    $limit: 1
  });

  const post = posts[0];

  const category = await categoryModel.get(post.category);
_%>
<%- await include('__header__', { back: { name: 'Blog', href: '/blog' }}) %>
<div class="max-w-3xl mx-auto prose mt-12 text-justify">
  <h1 class="text-center"><%= post.name %></h1>
  <p class="text-center mb-4">
    <a class="text-primary-500 font-bold text-sm" href="/blog<%= category ? `/${category.slug}` : '' %>"><%= category ? category.name : 'Latest' %></a> - 
    <small><%= moment(new Date(post.createdAt)).format('YYYY/MM/DD') %></small>
  </p>
  <div class="text-black">
    <%- post.content %>
  </div>
</div>
<%- await include('__footer__') %>