<%
  // models
  const postModel = await model('posts');
  const categoryModel = await model('categories');

  // category
  const { data: categories } = await categoryModel.list({ $limit: -1 });

  // pin posts
  const { data: pinPosts } = await postModel.list({
    status: 'public',
    pin: true,
    $sort: { createdAt: -1 },
    $limit: -1
  });

  // normal posts
  const query = {
    status: 'public',
    pin: false,
    $sort: { createdAt: -1 },
    $limit: 10
  };

  if (params.category && params.category !== 'latest'){
    for (let category of categories)
      if (category.slug === params.category){
        query.category = category._id;
        break;
      }
  }

  if (params.page && parseInt(params.page) > 0){
    query.$skip = (parseInt(params.page) - 1) * query.$limit;
  }

  const { data: posts, total, limit, skip } = await postModel.list(query);

  // pagination
  const maxPage = Math.floor(total / limit) + (total % limit === 0 ? 0 : 1);
  const page = Math.floor(skip / limit);

  const pages = [];

  const previous = page;
  const latter = maxPage - page - 1;
  const SKIP_PADDING = 2;

  const prePoint =
    page - SKIP_PADDING - Math.max(SKIP_PADDING - latter, 0);
  const latPoint =
    page + SKIP_PADDING + Math.max(SKIP_PADDING - previous, 0);

  for (let i = 0; i < maxPage; i++) {
    if (i === prePoint) {
      pages.push({
        index: i,
        text: "...",
        to: Math.floor(page / 2),
      });
      continue;
    }

    if (i === latPoint) {
      pages.push({
        index: i,
        text: "...",
        to:
          page +
          Math.floor((maxPage - page - 1) / 2),
      });
      continue;
    }

    if (i < prePoint || i > latPoint) continue;

    pages.push({ index: i, text: i + 1, to: i });
  }

  const generatePageLink = toPage => {
    if (toPage === 0){
      return '/blog' + (params.category && params.category !== 'latest' ? `/${params.category}` : '');
    }

    return '/blog/' + (params.category || 'latest') + '/' + (toPage + 1);
  }
_%>
<%- await include('../__header__') %>
<div class="max-w-3xl mx-auto px-4 py-8">
  <!-- PIN POSTS -->
  <div class="text-primary-500 font-bold text-sm inline-flex items-center ml-[-.5em] mb-6">
    <ion-icon name="pricetag"></ion-icon>
    <span class="ml-3">Pin</span>
  </div>

  <%- await include('../__posts__', { posts: pinPosts }) %>

  <!-- END PIN POSTS -->

  <!-- NORMAL POSTS -->
  <div class="text-gray-500 text-sm flex items-center mb-6 mt-8 space-x-4">
    <a href="/blog" class="mactive:text-primary-500 mactive:font-bold" <%= !params.category || params.category === 'latest' ? 'active' : ''%>>Latest</a>
    <% for (let category of categories){ %>
      <a href="/blog/<%= category.slug %>" class="mactive:text-primary-500 mactive:font-bold" <%= params.category === category.slug ? 'active' : '' %>><%= category.name %></a>
    <% } %>
  </div>

  <%- await include('../__posts__', { posts }) %>

  <!-- END NORMAL POSTS -->

  <!-- PAGINATION -->
  <div class="flex space-x-1 items-center text-sm justify-center">
    <a
      href="<%= generatePageLink(0) %>"
      class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-0 py-0 w-7 h-7 text-center justify-center opacity-50
      mactive:opacity-100"
      <%= page === 0 ? '' : 'active' %>
    >
      <ion-icon class="text-base md hydrated" role="img" name="chevron-back"></ion-icon>
    </a>

    <% for (let item of pages){ %>
      <a
        href="<%= generatePageLink(item.to) %>"
        class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-2 py-0 min-w-[1.75rem] h-7 text-center justify-center items-center leading-4 mactive:bg-primary-500" <%= page === item.index ? 'active' : '' %>
      >
        <%= item.text %>
      </a>
    <% } %>

    <a
      href="<%= generatePageLink(maxPage - 1) %>"
      class="m-button bg-secondary-500 px-4 py-2 rounded-lg inline-flex items-center text-white px-0 py-0 w-7 h-7 text-center justify-center opacity-50
      mactive:opacity-100"
      <%= page === maxPage - 1 ? '' : 'active' %>
    >
      <ion-icon class="text-base md hydrated" role="img" name="chevron-forward"></ion-icon>
    </a>
  </div>
  <!-- END PAGINATION -->
</div>
<%- await include('../__footer__') %>